{% extends "base.html" %}

{% block title %}
    Test Process
{% endblock %}

{% block content %}
<div class="row my-3">
    <div class="col-10 mx-auto text-center">
        <h4>{{ test.name }}</h4>
        <p>{{ test.description }}</p>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    {{ answer_formset.management_form }}
    {% for question, form in combined %}
        <div class="card my-2">
            <div class="card-header">
                {{ forloop.counter }}) {{ question.text }}
            </div>
            <div class="card-body answers">
                {{ form.as_p }}
            </div>
        </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Pass</button>
</form>
{% endblock %}
