.profile-container {
    margin-top:20px;
    color: white;
    /*background: #1A233A;*/
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}
.account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}
.profile-card {
    background: #343B3F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.empty-form {
    display: none;
}

.answer-block {
    margin-left: 10px;
    background: #79aec8;
}

.comment-item .thumbnail {
    padding:0px;
}
.comment-item .card {
	position:relative;
}
.comment-item .card>.card-header:after,
.comment-item .card>.card-header:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.comment-item .card>.card-header:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.comment-item .card>.card-header:before{
	border-right-color:#ddd;
	border-width:8px;
}

.answers > ul{
    list-style: none;
}
